.wrapper-card {
  width: 240px;
  height: 244px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  box-sizing: border-box;

  @media (max-width: 530px) {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  @media (max-width: 340px) {
    width: 100%;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    @media (max-width: 340px) {
      height: 180px;
    }
  }
}

.content {
  padding: 10px;

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 20px;
  }
}
