.wrapper {
  max-width: 600px;
  width: 100%;
  height: 200px;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 720px) {
    height: 160px;
  }
  @media (max-width: 600px) {
    height: 130px;
  }
  @media (max-width: 420px) {
    height: 104px;
    margin: 0 10px;
  }
}
