.wrapper-about {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  margin: 25px auto;

  @media (max-width: 1060px) {
    margin: 25px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  box-sizing: border-box;
  margin: 35px auto;

  @media (max-width: 480px) {
    margin: 75px 25px;
  }

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(242, 242, 247, 1);
    margin-bottom: 16px;

    @media (max-width: 720px) {
      width: 220px;
      height: 220px;
      margin-bottom: 20px;
    }

    @media (max-width: 480px) {
      width: 150px;
      height: 150px;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    height: 50px;
    color: rgba(8, 31, 50, 1);
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    @media (max-width: 480px) {
      height: 32px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__content {
    margin: 48px 0;
    color: rgba(142, 142, 147, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;

    @media (max-width: 480px) {
      width: 100%;
      margin: 30px 0 15px;
    }
  }
}

.description {
  width: 385px;
  margin: 0 20px;

  @media (max-width: 480px) {
    max-width: 100%;
  }

  li {
    height: 65px;
    margin: 0 15px;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(225, 230, 235);
  }

  &__subtitle {
    color: rgba(8, 31, 50, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  &__text {
    color: rgba(110, 121, 140, 1);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}
