.btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;

  &__icon {
    width: 16px;
    height: 16px;
    background-image: url(../../assets/img/arrow.svg);
  }

  &__text {
    padding: 0 10px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
